<!DOCTYPE html>
<html>
  <head>
    <title> X20 해커톤 지원자 현황 </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">

    </head>
    <body>

      <div id="content">
      <img src="/images/x20_without_text.svg" width="15%"/>
      <br>
      <h2>X20 HACKATON 참가자 현황</h2>
      <h6> {{ current }} 기준 <h6>
      <h4> 개인 참가자 : {{ person }}명 <h4>
        <h4> 팀 참가자 : {{ team }}팀 * 4 = {{team * 4}}명<h4>
      </div>
      <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{all}}" aria-valuemin="0" aria-valuemax="100" style="width: {{all}}%">{{all}}%</div>
</div>
      </body>

</html>
